@import '~@fortawesome/fontawesome-free/css/all.css';

/* golabel rules */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --main-color: #12101D;
  --text-color:#FFFFFF;
}

html{
  scroll-behavior: smooth;
  
}

body{
  font-family: "Open Sans", sans-serif;
  background-color: rgb(248, 248, 248);
}



ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li a{
  text-decoration: none;
}
.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
/* home page */

.home-page{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
 
}

 .side-bar{
  margin-left: -350px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  width: 400px;
  height: 100vh;
  transition: 1s ease;
}
 .active-side{
  margin-left: 0;
}
 .side-bar .head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 60px;
}
 .side-bar .head h1{
  color: var(--text-color);
  visibility: hidden;
}
 .side-bar .head i {
  font-size: 28px;
  cursor: pointer;
}
 .side-bar ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 .side-bar ul .row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
 .side-bar ul .active-link{
  background-color: #2223E4;
}


 .side-bar i {
  color: var(--text-color);
  font-size: 18px;
  transition: 0.15s ease;
}
 .side-bar a {
  color: var(--text-color);
  font-size: 18px;
  
}
 
 .active-side ul i:hover{
  transform: scale(1);
}

.home-page .container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .container input{
  border: 1px solid rgb(190, 187, 187);
  height: 40px;
  width: 300px;
  color: black;
  padding-left: 10px;
  border-radius: 6px 0 0 6px;
}
.home-page .container button{
  background-color: #007bff;
  height: 40px;
  border: none;
  width: 80px;
  padding: 0 5px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 0 6px 6px 0px;
  cursor: pointer;
}
@media (min-width: 768px){
  .active-side ul .row:hover{
    background-color: #2223E4;
  }
  .side-bar ul i:hover{
    transform: scale(1.2);
  }
  .home-page .container button:hover{
    background-color: #0c67c9;
  }
}
@media (max-width: 768px){
  .home-page{
    flex-wrap: wrap;
  }
  .home-page .container{
    padding: 50px 0 ;
  }

  .active-side{
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 468px){
  .home-page .container input{
    width: 200px;
  }
  .home-page .container button{
    width: 60px;
    font-size: 12px;
  }
}

/* search page */

.search-page{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.search-page .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
}

.search-page  .headd{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 10px 30px ;
  border-bottom: 1px solid rgb(202, 198, 198);

}
.search-page  .head .search {
  width: 100%;
}
.search-page  .head .search input {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid rgb(190, 187, 187);
  border-radius: 6px 0 0 6px;

}
.search-page  .head .search button{
  height: 40px;
  width: 10%;
  background-color: #007bff;
  border: none;
  color: var(--text-color);
  border-radius: 0 6px 6px 0px;

}
.search-page .container .table{
  width: 100%;
  overflow: auto;
}
.search-page .container table{
  padding-top: 20px;
  border-collapse: collapse;

}
.search-page .container table th{
  text-align: left;
  padding: 15px 5px;
  
}

.search-page .container table  td{
  padding: 20px 10px;
  width: 12.5%;
  font-size: 14px;
  text-align: left;

}
.search-page .container table tbody tr{
  cursor: pointer;
}

.search-page .container table tbody tr:nth-child(odd){
  background-color: rgb(226, 224, 224);
}

.search-page .container ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.search-page .container ul li{
  padding:  10px 14px;
  border: 1px solid rgb(219, 216, 216);
  cursor: pointer;
  color: #007bff;
}
.search-page .container ul li:hover{
  background-color: rgb(226, 224, 224);
}
.search-page .container ul .active{
  background-color: #007bff;
  color: var(--text-color);
  border: none;
}
.search-page .container ul .active:hover{
  background-color: #007bff;
  color: var(--text-color);
}
.search-page .container ul .prev:hover{
  background-color: var(--text-color);
}
.search-page .container ul .prev{
  color: var(--main-color);
}



@media (max-width: 768px){
  .search-page .side-bar{
    position: absolute;
    top: 0;
    left: -350px;
    margin: 0;
  }
  .search-page .active-side{
    left: 0;
    width: 100%;
  }
  .search-page .container{
    padding-left: 70px;
  }
  .search-page  .head .search input {
    width: 70%;  
  }
  .search-page  .head .search button{
    width: 20%;
  }
}
@media (max-width: 430px){
  .search-page  .head .search input {
    width: 70%;  
  }
  .search-page  .head .search button{
    width: 30%;
  }
}
